.date {
  margin: 1em auto;
  padding: 30px 50px;
  text-align:center;
}
h2 {
    font-size: 30px;
    color: rgb(253, 99, 125);
    }              
.timer {
        font-size: 30px;
        line-height: 1.5;
        margin: 1em 0;
        }
        
.timer b {
        color: rgb(253, 99, 125);
        }

.copyright {
        font-size: 14px;
        color: #666;
        text-align: center;
        position: fixed;
        bottom: 48px;
        left: 0;
        width: 100vw;
}

.copyright a {
        color: #666;
        text-decoration: none;
        border-bottom: 1px solid #666;
        padding-bottom: 2px;
}
